{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <div id="nameDisplay" style="text-align: center;">
    <!-- <form method="POST" action="/indexs">

        {% csrf_token %}
        <label for="name ">NAME: <input type="text" name="name" id="name" placeholder="enter your name ..."></label><br>
        <label for="dob">DATE OF BIRTH: <input type="date" name="dob" placeholder="enter your date of birth ..."></label><br>
        <label for="address">ADDRESS: <input type="text" name="address" placeholder="enter your address ..."></label><br>
        <label for="email">EMAIL: <input type="email" name="email" placeholder="enter your email ..."></label><br>
        <label for="phone">PHONE NUMBER: <input type="tel" name="phone" placeholder="enter your phone number ..."></label><br>
        <button class="btn btn-primary" onclick="abd()" style="text-align: center;"><input type="submit">Click Me!</button>
    </form> -->
    <form method="POST" action="{% if obj %}/edit/{{obj.id}}{% else %}/indexs{% endif %}">
    {% csrf_token %}

    <label for="name">NAME:
        <input type="text" name="name" value="{{ obj.name|default:'' }}">
    </label><br>

    <label for="dob">DATE OF BIRTH:
        <input type="date" name="dob" value="{{ obj.dob|default:'' }}">
    </label><br>

    <label for="address">ADDRESS:
        <input type="text" name="address" value="{{ obj.address|default:'' }}">
    </label><br>

    <label for="email">EMAIL:
        <input type="email" name="email" value="{{ obj.email|default:'' }}">
    </label><br>

    <label for="phone">PHONE NUMBER:
        <input type="tel" name="phone" value="{{ obj.phone|default:'' }}">
    </label><br>

    <button type="submit">
        {% if obj %}Update{% else %}Create{% endif %}
    </button>
</form>

    
      </div>

      <div>
        <table border="2px" style="width: 100%; text-align: center; margin-top: 50px;" >
            <tr>
                <th>NAME</th>
                <th>DATE OF BIRTH</th>
                <th>ADDRESS</th>
                <th>EMAIL</th>
                <th>PHONE NUMBER</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.dob }}</td>
                <td>{{ i.address }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phone }}</td>
                <td><a href="/edit/{{i.id}}"><button class="btn btn-success">Edit</button></a></td>
                <td><a href="/delete/{{i.id}}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
            
        </table>
      </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>